html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./styles/style.css")
        title Login
    body 
        form(method="post" class="login-form block bg-pink-500 rounded p-4 m-4")
            input(required=true type="number" id="password" name="phone-number" placeholder="Phone Number" class="m-2 text-gray-700 rounded outline-none")
            button(type="submit" class=" rounded text-white bg-blue-400 px-3 py-1 font-semibold m-4") Send OTP
    //- script(src="/js/login.js")
